<div style="display:flex;flex-wrap:nowrap;font-size:20px;font-weight: bold;margin-top:5px;"> 
    <p style="text-align:start;margin-right:55%;margin-left:10px;"> Display classes are used only once at the top of page.</p>
    <a routerLink="/" style="text-decoration: none;"> Back to Home</a>
</div>

<div class="mat-display-4"> mat-display-4 Display 4</div>
<div class="mat-display-3"> mat-display-3 Display 3</div>
<div class="mat-display-2"> mat-display-2 Display 2</div>
<div class="mat-display-1"> mat-display-1 Display 1</div>

<div class="mat-headline"> mat-headline equal to h1 tag</div>
<div class="mat-title">  mat-title equal to h2 tag</div>
<div class="mat-subheading-2"> mat-subheading-2  equal to h3 tag</div>
<div class="mat-subheading-1">  mat-subheading-1 equal to h4 tag </div>

<div class="mat-body-1"> mat-body-1 body text as normal</div>
<div class="mat-body-2"> mat-body-2 body text as bold</div>
<div class="mat-caption"> mat-caption caption </div>

<div class="mat-typography">
    <h1> header 1</h1>
    <h2> header 2</h2>
    <h3> Header 3</h3>
    <h4> header 4</h4>
</div>