<app-button></app-button>
<div class="container-fluid">
<div class="mainbar">
    <div class="top" style="margin-top:10px;display:flex;flex-direction: row;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="padding-top:20px;margin-left:130px;">
            <mat-icon style="font-size:50px;color:white;">supervised_user_circle</mat-icon>
        </button>
          <span style="color:white;">
              <ul style="list-style-type: none;padding-top:9px">
                <li>Welcome</li>
                <li>to our</li>
                <li>Website</li>
              </ul> 
          </span>
          <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="padding-top:20px;">
            <mat-icon style="font-size:50px;color:white">call</mat-icon>
        </button>
          <span style="color:white;margin-right:30px;">
              <ul style="list-style-type: none;padding-top:19px">
                <li style="margin-left:-12px;"> +91 9856748362</li>
                <li style="margin-left:-12px;"> 24x7 available</li>
              </ul> 
        </span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="padding-top:20px;">
            <mat-icon style="font-size:50px;color:white">my_location</mat-icon>
        </button>
          <span style="color:white">
              <ul style="list-style-type: none;padding-top:22px;">
                <li style="margin-left:-12px;">Track Tour Route</li>
                <li style="margin-left:-12px;">location access</li>
              </ul> 
        </span>
    </div>

    <div class="tabs" >
            <ul style="display:flex;flex-direction: row;list-style-type:none;border-top: 1px solid gray;padding-top:15px;padding-bottom:15px;">
                <li> 
                    <a > Home</a>
                    <span>Home page</span>
               
                </li>
                <div class="vl" style="margin-right:40px;"></div>
                <li> 
                    <a > CORPORATE </a>
                    <span>Home page</span>
                </li>
                <div class="vl" style="margin-right:40px;"></div>
                <li>
                    <a > MY OFFICE</a>
                    <span>Home page</span>
                </li>
                <div class="vl" style="margin-right:40px;"></div>
                <li>
                    <a > PARTNERS</a>
                    <span>Home page</span>
                </li>
                <div class="vl" style="margin-right:40px;"></div>
                <li>
                    <a > OOPS</a>
                    <span>Home page</span>
                </li>
                <div class="vl" style="margin-right:40px;"></div>
                <li>
                    <a > NEWS</a>
                    <span>Home page</span>
                </li>
                <div class="vl"  style="margin-right:40px;"></div>
                <li>
                    <a> CONTACT US</a>
                    <span>Home page</span>
                </li>
           </ul>
    </div>

    <div class="main-content">
        <h3 style="margin-bottom:-2px;font-weight:bold;color:rgb(189, 203, 216);"> SHIPS ANYTHING </h3>
        <h1 style="font-weight:bold;color:white;"> AROUND THE WORLD</h1>
        <button style="margin-top:10px;background-color: white;color:skysky#5234eb;font-weight: bold;border:1px solid white;
        border-radius:35%;padding-top:10px;padding-bottom:10px;padding-left:40px;padding-right:40px;font-size:20px;"> CODE IT</button>
    </div>
</div>
<div class="card-effect">
    <div class="row" style="width:64%;height:20%;margin-left:16%;background-color:white;display:flex;flex-direction: row;">
        <div class="col-md-12">
            <div class="card-deck" style="display:flex;flex-direction: row;">

                <div class="card" style="width:200px;text-align:center;">
                    <div class="card-body">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-top:49px;">
                        <mat-icon class="material-icons-outlined" style="font-size:46px;">flight</mat-icon>
                        </button>
                        <h3 style="font-weight: bold;padding-left:17px;"> Airport</h3>
                        <h5 style="margin-top:-20px;font-weight: bold;padding-left:14px;"> Flight Booking</h5>
                   </div>
                </div>
                <div class="vl" style="margin-right:2px;height:66px;margin-top:63px;"></div>

	
                <!--<div class="card" style="width:200px;text-align:center;">
                     <div class="card-body"> 
                      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-top:49px;">
                        <mat-icon class="material-icons-outlined"  style="font-size:46px;">fastfood</mat-icon>
                        </button>
                        <h3 style="font-weight: bold;padding-left:17px;"> Fast food</h3>
                        <h5 style="margin-top:-20px;font-weight: bold;padding-left:14px;"> Fast food center</h5>
                    </div>
                </div>  -->
          	

                <div class="card" style="width:200px;text-align:center;">
                     <div class="card-body">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-top:49px;">
                        <mat-icon class="material-icons-outlined"  style="font-size:46px;">fastfood</mat-icon>
                        </button>
                        <h3 style="font-weight: bold;padding-left:17px;"> Fast food</h3>
                        <h5 style="margin-top:-20px;font-weight: bold;padding-left:14px;"> Fast food center</h5>
                    </div>
                </div>    
                <div class="vl" style="margin-right:2px;height:66px;margin-top:63px;"></div>

                <div class="card" style="width:200px;text-align:center;">
                     <div class="card-body">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-top:49px;">
                        <mat-icon class="material-icons-outlined"  style="font-size:46px;">festival</mat-icon>
                        </button>
                        <h3 style="font-weight: bold;padding-left:17px;"> Festival</h3>
                        <h5 style="margin-top:-20px;font-weight: bold;padding-left:14px;"> Festival celebrations</h5>
                    </div>
                </div>    
                <div class="vl" style="margin-right:2px;height:66px;margin-top:63px;"></div>
                <div class="card" style="width:200px;text-align:center;">
                     <div class="card-body">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-top:49px;">
                        <mat-icon class="material-icons-outlined"  style="font-size:46px;">mosque</mat-icon>
                        </button>
                        <h3 style="font-weight: bold;padding-left:17px;"> Moswue</h3>
                        <h5 style="margin-top:-20px;font-weight: bold;padding-left:14px;"> Mosque</h5>
                    </div>
                </div>    
                <div class="vl" style="margin-right:2px;height:66px;margin-top:63px;"></div>
                <div class="card" style="width:200px;text-align:center;">
                     <div class="card-body">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-top:49px;" >
                        <mat-icon class="material-icons-outlined"  style="font-size:46px;">fort</mat-icon>
                        </button>
                        <h3 style="font-weight: bold;padding-left:17px;"> Fort</h3>
                        <h5 style="margin-top:-20px;font-weight: bold;padding-left:14px;"> Fort Booking</h5>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>

<div class="stepper">
    <h1> Why Choose Us ? </h1>
    <div style="display:flex;flex-direction:row; margin-top:30px;">
        <a style="margin-left:25%;">
            <h3 style="font-weight:bold;color:gray;margin-left:25%;display:flex;flex-direction:column;"> Professional
                <span style="margin-top:-2px;margin-left:17%">
                    Training
                </span> 
            </h3>
        </a>
       <a style="margin-left:16%;">
        <h3 style="font-weight:bold;color:gray;display:flex;flex-direction:column;margin-left:16%;"> Entrance
            <span style="margin-top:-2px">
                Leadership
            </span> 
        </h3>
       </a>
       <a style="margin-left:12%;">
        <h3 style="font-weight:bold;color:gray;display:flex;flex-direction:column;margin-left:16%;"> Managing
            <span style="margin-top:-2px">
                Employees
            </span> 
        </h3>
       </a>
        
    </div>
    <mat-stepper style="width:50%;text-align:center;margin-left:25%;">
        
        <mat-step></mat-step>
        <mat-step></mat-step>
        <mat-step></mat-step>
    </mat-stepper>
</div>

<div class="imagecontent">
    <div class="row" >
        <div class="col-md-6" style="width:500px;">
            <img src="../../assets/emp1.jpg" alt="" style="width:574px;height:383px;margin-left:233px;;margin-top:10px;margin-bottom:10px">
        </div>
        <div class="col-md-6" style="width:500px;">
            <div class="firstpara" style="width:353px;margin-top:97px;margin-left:122px;">
                <p> Wikipedia's collection of category pages is a classified index system. It is automatically generated from category tags at the bottoms of articles and most other pages. 
                    Nearly all of the articles available so far on the website can be found through these subject in index.
                </p>
                <p>
                    Category:Contents is technically at the top of the category hierarchy, but contains many categories useful to editors but not readers. Special:Categories lists every category alphabetically.
                    You can help us keep Wikipedia up to date! The list below is for encyclopedia entries that describe and pertain to events happening on a current basis.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="columns" style="margin-left:30px;margin-right:30px;background-color:lightgrey" >
    <div class="row">
        <div class="col-md-4" style="padding-left:40px;padding-top:81px;">
            <div class="sub">
                <p style="color:#5234eb;font-weight: bold;font-size: 20px;width:326px;line-height: normal;padding-left:148px">
                    Fright Company with a Difference Innovation
                </p>
            </div>
            <div class="sub2">
                <p style="width:437px;padding-left:147px;padding-top:20px">
                    Wikipedia's collection of category pages is a classified index system. It is automatically generated from category tags at the bottoms of articles and most other pages. 
                </p>
            </div>
            <div class="sub3">
                <h4 style="color:#5234eb;padding-left:144px;font-size: 16px;font-weight: bold;margin-bottom:-2px;"> Anwar Sabh</h4>
                <h5 style="padding-left:144px;font-size: 16px;font-weight: bold;color:lightgrey"> published it </h5>
            </div>
        </div>
        <div class="col-md-4">
           <img src="../../assets/emp2.jpeg" alt="" style="padding-top:78px;width:333px;height:237px">
           <h1 style="color:blue;font-weight:500;padding-top:5px;margin-bottom:-2px;"> Who We Are</h1>
           <p style="width:314px;">
            It is automatically generated from category tags at the bottoms of articles and most other pages. 
           </p>
        </div>
        <div class="col-md-4">
            <img src="../../assets/emp3.jpg" alt="" style="padding-top:78px;width:333px;height:237px">
           <h1 style="color:blue;font-weight:500;padding-top:5px;margin-bottom:-2px;"> Looking Front</h1>
           <p style="width:314px;">
            
            It is automatically generated from category tags at the bottoms of articles and most other pages. 
           </p>
        </div>
    </div>
</div>

<div class="cardwithicon" style="background-color:#1b0852;margin-left:30px;margin-right:30px;height:613px;">
    <div class="row">
        <div class="col-sm-3" style="margin-left:15%;margin-top:110px;margin-right:20px;">
            <div style="margin-top:-2px;margin-bottom: 40px;">
                <p style="font-weight: bold;font-size:20px;color:white;width:186px;
                padding-left:3px;line-height: 2rem;padding-bottom: 1px;margin-top:-2px;">
                    Unmatched Services. Unmatched Excellence.
                </p>
                <div>
                    <mat-icon class="material-icons-outlined" style="color:white;margin-left:91%;margin-top:7%;">label_important
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-top:110px;margin-right:20px;">
          <div class="card" style="background-color: #1b0852;">
            <div class="uicon3">

                <mat-icon class="material-icons-outlined"  style="font-size:46px;margin-left:-21px;
                color:white;margin-top:-29px;">fastfood</mat-icon>
            </div>
            <span> LAND REPORT </span>
            <p> The land consist of so many rocks but it is very popular in nature. For this land so many customers are coming and trying to buying it with high amount. </p>
          </div>
        </div>
        <div class="col-sm-3" style="margin-top:110px;">

            
            <div class="card" style="background-color: #1b0852;">
                <div class="uicon3">
                    <mat-icon class="material-icons-outlined"  style="font-size:46px;margin-left:-21px;
                    color:white;margin-top:-29px;">fastfood</mat-icon>
                </div>
                <span> LAND REPORT </span>
                <p> The land consist of so many rocks but it is very popular in nature. For this land so many customers are coming and trying to buying it with high amount. </p>
            </div>
        </div>

    </div>

      <div class="row">
        <div class="col-sm-3" style="margin-left:15%;margin-top:36px;margin-right:20px;">
            <div class="card" style="background-color: #1b0852;">
                <div class="uicon3">
                    <mat-icon class="material-icons-outlined"  style="font-size:46px;margin-left:-21px;
                    color:white;margin-top:-29px;">fastfood</mat-icon>
                </div>
                <span> LAND REPORT </span>
                <p> The land consist of so many rocks but it is very popular in nature. For this land so many customers are coming and trying to buying it with high amount. </p>
            </div>
        </div>
        <div class="col-sm-3" style="margin-top:36px;margin-right:20px;">
          <div class="card" style="background-color: #1b0852;">
            <div class="uicon3">
                <mat-icon class="material-icons-outlined"  style="font-size:46px;margin-left:-21px;
                color:white;margin-top:-29px;">fastfood</mat-icon>
            </div>
            <span> LAND REPORT </span>
            <p> The land consist of so many rocks but it is very popular in nature. For this land so many customers are coming and trying to buying it with high amount. </p>
          </div>
        </div>
        <div class="col-sm-3" style="margin-top:36px;">
            <div class="card" style="background-color: #1b0852;">
                <div class="uicon3">
                    <mat-icon class="material-icons-outlined"  style="font-size:46px;margin-left:-21px;
                    color:white;margin-top:-29px;">fastfood</mat-icon>
                </div>
                <span> LAND REPORT </span>
                <p> The land consist of so many rocks but it is very popular in nature. For this land so many customers are coming and trying to buying it with high amount. </p>
            </div>
        </div>
      </div>
</div>

<div class="footer" style="background-color:#0b021f;margin-left:30px;margin-right:30px;margin-top:10px;height:380px;margin-bottom:30px;">
    <div class="row">
        <div class="col-md-4" style="margin-top:77px;">
            <div style="display: flex;flex-direction: row;">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-left:170px;">
                <mat-icon style="font-size:50px;color:white;">supervised_user_circle</mat-icon>
            </button>
        
            <div>
                <p style="color:white;width:96px;margin-left:27px;">
                    Welcome
                    to our
                   Website
                </p>
            </div>

            </div>
            <div>
                <p style="margin-left:183px;width:179px;color:white;margin-top:29px;">
                    This website consist of what are the services we are providing to our customers. Who are our clients.
                </p>
            </div>
            <div class="iconsbox" style="display: flex;flex-direction: row;">
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" 
                     style="margin-left:160px;margin-top:43px;margin-right: 11px;">
                        <mat-icon style="font-size:40px;color:white;">play_circle</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" 
                    style="margin-top:43px;margin-right: 11px;">
                        <mat-icon style="font-size:40px;color:white;">mail_outline</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" 
                    style="margin-top:43px;">
                        <mat-icon style="font-size:40px;color:white;">copyright</mat-icon>
                    </button>
            </div>
        </div>
        <div class="col-md-2" style="margin-top:77px;color:white">
            <p style="font-size:16px;padding-left:23px;padding-bottom: 15px;"> Services</p>
            <ul>
                <li> Web Development</li>
                <li> Devops</li>
                <li> Backend Application</li>
                <li> Testing</li>
                <li> Dot Net</li>
                <li> Graphics tools</li>
            </ul>
        </div>
        <div class="col-md-2" style="margin-top:77px;color:white">
            <p style="font-size:16px;padding-left:23px;padding-bottom: 15px;"> Outlook</p>
            <ul>
                <li> E-Learning</li>
                <li> Projects</li>
                <li> Clients</li>
                <li> Our Memories</li>
                <li> News</li>
                <li> Events</li>
            </ul>
        </div>
        <div class="col-md-4" style="margin-top:77px;color:white">
            <p style="font-size:16px;"> Subscribe</p>
            <p style="width:247px;padding-top:13px;padding-bottom: 2px;line-height: 2rem;"> Please subscribe and share my website details. Feel free to talk with us.</p>
            <div style="margin-top:37px">
                <input type="text" style="width:231px;border:1px solid white;border-radius: 7%;height:37px">
                <span style="padding:10px;background-color:skyblue;">
                    <mat-icon  class="material-icons-outlined">search</mat-icon>
                </span>
            </div>
        </div>
    </div>
</div>


</div>
<app-footer></app-footer>