<a routerLink="/" style="text-decoration: none;"> Back to Home</a>
<div class="container-fluid">
    <div class="row" style="background-color:lightgray">
      <div class="col-md-12">
        <h3 style="margin-left:100px;margin-top:7px;margin-bottom:7px;">
          8 Bullet Points Checklist & Text Headers
        </h3>
      </div>
    </div>
  
    <!--First row completed-->
    <div class="row">
      <div class="col-md-6">
        <div class="circle_text">
          <div class="inner">
            <i
              class="fas fa-check"
              style="color:blue;align-items:center;margin:12px;width:30px;height:30px;font-size:25px;text-shadow:1px 7px 10px lightgray;"
            ></i>
          </div>
          <div class="outer">
            <input
              type="text"
              style="padding-bottom:0; height:39px;color:blue;text-align:center;border:none;font-weight:bold;"
            />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="circle_text">
          <div class="inner">
            <i
              class="fas fa-check"
              style="color:blue;align-items:center;margin:12px;width:30px;height:30px;font-size:25px;text-shadow:1px 7px 10px lightgray;"
            ></i>
          </div>
          <div class="outer">
            <input
              type="text"
              style="padding-bottom:0; height:39px;; color:blue;text-align:center;border:none;font-weight:bold;"
            />
          </div>
        </div>
      </div>

    </div>
    <!--First row completed-->
  
    <!--second row started-->
    <div class="row">
        <div class="col-md-6">
          <div class="circle_text">
            <div class="inner">
              <i
                class="fas fa-check"
                style="color:blue;align-items:center;margin:12px;width:30px;height:30px;font-size:25px;text-shadow:1px 7px 10px lightgray;"
              ></i>
            </div>
            <div class="outer">
              <input
                type="text"
                style="padding-bottom:0; height:39px;; color:blue;text-align:center;border:none;font-weight:bold;"
              />
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="circle_text">
            <div class="inner">
              <i
                class="fas fa-check"
                style="color:blue;align-items:center;margin:12px;width:30px;height:30px;font-size:25px;text-shadow:1px 7px 10px lightgray;"
              ></i>
            </div>
            <div class="outer">
              <input
                type="text"
                style="padding-bottom:0; height:39px;; color:blue;text-align:center;border:none;font-weight:bold;"
              />
            </div>
          </div>
        </div>
  
      </div>
    <!--second row completed-->

    <!--3rd row started-->
    <div class="row">
        <div class="col-md-6">
          <div class="circle_text">
            <div class="inner">
              <i
                class="fas fa-check"
                style="color:blue;align-items:center;margin:12px;width:30px;height:30px;font-size:25px;text-shadow:1px 7px 10px lightgray;"
              ></i>
            </div>
            <div class="outer">
              <input
                type="text"
                style="padding-bottom:0; height:39px;; color:blue;text-align:center;border:none;font-weight:bold;"
              />
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="circle_text">
            <div class="inner">
              <i
                class="fas fa-check"
                style="color:blue;align-items:center;margin:12px;width:30px;height:30px;font-size:25px;text-shadow:1px 7px 10px lightgray;"
              ></i>
            </div>
            <div class="outer">
              <input
                type="text"
                style="padding-bottom:0; height:39px;; color:blue;text-align:center;border:none;font-weight:bold;"
              />
            </div>
          </div>
        </div>
  
      </div>
    <!--3rd row completed-->
  
    <!--4th row started-->
    <div class="row">
        <div class="col-md-6">
          <div class="circle_text">
            <div class="inner">
              <i
                class="fas fa-check"
                style="color:blue;align-items:center;margin:12px;width:30px;height:30px;font-size:25px;text-shadow:1px 7px 10px lightgray;"
              ></i>
            </div>
            <div class="outer">
              <input
                type="text"
                style="padding-bottom:0; height:39px;; color:blue;text-align:center;border:none;font-weight:bold;"
              />
            </div>
          </div>
        </div>
  
        <div class="col-md-6">
          <div class="circle_text">
            <div class="inner">
              <i
                class="fas fa-check"
                style="color:blue;align-items:center;margin:12px;width:30px;height:30px;font-size:25px;text-shadow:1px 7px 10px lightgray;"
              ></i>
            </div>
            <div class="outer">
              <input
                type="text"
                style="padding-bottom:0; height:39px;; color:blue;text-align:center;border:none;font-weight:bold;"
              />
            </div>
          </div>
        </div>
  
      </div>
    <!--4th row completed-->
  </div>
  