<app-button></app-button>
<div class="container-fluid">
    <div class="left">
      <div class="header">
        <h2 class="animation a1">Welcome Back</h2>
        <h4 class="animation a2">Log in to your account using email and password</h4>
      </div>
      <div class="alert alert-danger" *ngIf="error" style="width:80%;color:red;">{{error}}</div>
      <form [formGroup]="userForm" (ngSubmit)="userForm">
        <div class="row">
            <div class="col-12">
                <!-- <label for="email"> email </label> -->
                <input type="email" name="email" class="form-control animation a3" formControlName="email" ngModel placeholder="email">
            </div>
            <div *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].dirty || 
            userForm.controls['email'].touched)" class="alert">
                <div *ngIf="userForm.controls['email'].errors?.required">
                please enter email
                </div>
                <div *ngIf="userForm.controls['email'].errors?.email">
                    email should be like abc@gmail.com
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-12">
                <!-- <label for="password"> Password </label> -->
                <input type="password" name="password" class="form-control  animation a4" formControlName="password" ngModel  placeholder="Password">
            </div>
            <div *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || 
            userForm.controls['password'].touched)" class="alert" style="margin-left: -1px;">
                <div *ngIf="userForm.controls['password'].errors?.required">
                please enter password
                </div>
                <div *ngIf="userForm.controls['password'].errors?.pattern">
                password contain atleast 1 small and capital letter, number and special symbol
                </div>
            </div>
        </div>
        <!-- <p class="animation a5"><a href="#">Forgot Password</a></p> -->
        <button class="animation a6" type="submit" (click)="login(userForm)">LOGIN</button>
    </form>
     
    </div>
    <div class="right"></div>
  </div>
  <!-- <app-dashboard [authenticate]="isAuthenticated" *ngIf="successfulLogin"></app-dashboard> -->
















<app-footer></app-footer>
