<app-button></app-button>
  <h3>
    Good Morning
    <span
      style="color:rgb(43, 107,226); font-weight:bold;font-size:22px;margin-left:0;"
      >{{loggedIn}}
    </span>
    <span class="uicon2"> {{firstLetter}} </span>
  </h3>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-light">
          <div class="uicon3">
            <i class="fas fa-user"></i>
          </div>
          <span> <a routerLink="/users" *ngIf="isAdmin"> User Management </a> </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-light">
          <div class="uicon3">
            <i class="fas fa-user-tie"></i>
          </div>
          <span> <a routerLink="/hrmgmnt" *ngIf="isAdmin">HR Management  </a> </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-light">
          <div class="uicon3"><i class="fas fa-user-graduate"></i></div>
          <span>  <a routerLink="/employeedetails"  *ngIf="(isAdmin || isEmployee)"> Employee Details </a> </span>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-light">
          <div class="uicon3"><i class="fas fa-user-tie"></i></div>
          <span>  <a routerLink="/attendance" *ngIf="(isAdmin || isEmployee)"> Attendance </a> </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3" style="margin-top:50px">
        <div class="card bg-light">
          <div class="uicon3">
            <i class="fas fa-user"></i>
          </div>
          <span>  <a routerLink="/tasknew" *ngIf="(isAdmin || isEmployee)"> Task Management</a> </span>
        </div>
      </div>
      <div class="col-sm-3" style="margin-top:50px">
        <div class="card bg-light">
          <div class="uicon3">
            <i class="fas fa-user-tie"></i>
          </div>
          <span>  <a routerLink="/reports" *ngIf="isAdmin"> Reports </a> </span>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  
<!---
<p>home works!</p>
<p> To see typography related class click on <a routerLink="/typography" style="font-weight: bold;text-decoration: none;">typography</a></p>
<p> To see button related class click on <a routerLink="/button" style="font-weight: bold;text-decoration: none;">button</a></p>
<p> To see button toggle related class click on <a routerLink="/buttontoggle" style="font-weight: bold;text-decoration: none;">button toggle</a></p>
<p> To see form related class click on <a routerLink="/regForm" style="font-weight: bold;text-decoration: none;">Registration Form</a></p>
<p> To see list of users click on <a routerLink="/users" style="font-weight: bold;text-decoration: none;"> Users List</a></p>
<p> An angular form with crud operations like edit, delete, add options to see it click on 
    <a routerLink="/reactive" style="font-weight: bold;text-decoration: none;"> Angular Form with Crud operations</a>
</p>
<p> To see exam output click on <a routerLink="/exam" style="font-weight: bold;text-decoration: none;"> Exam </a></p>
<p> To see pics output click on <a routerLink="/pic" style="font-weight: bold;text-decoration: none;"> Show output with pics </a></p>
<p>To see side nav <a routerLink="/side" style="font-weight: bold;text-decoration: none;">sidenav</a></p>
<p>To see projects, sections and tasks <a routerLink="/tasknew" style="font-weight: bold;text-decoration: none;">  Tasks </a></p>
<p>To see bullet points <a routerLink="/bullet" style="font-weight: bold;text-decoration: none;"> Bullet Points </a></p>
<p>To see drag and drop of array of items <a routerLink="dragdrop" style="font-weight: bold;text-decoration: none;"> Drag and Drop</a></p> -->