.mat-sidenav-container{
    height:100%;
    border:1px solid blue;
}
.mat-sidenav{
    width:200px;
}
.mat-sidenav-content{
    background:white;
    margin-left: 210px;
    border-left: 1px solid pink;
}